.mol-cards{
    @include layoutFlex();
    @include directionFlex(row);
    padding: 10px 10px;
    &--boxtext{
        width: 100%;
    }
    &--image{
        width: 100px;
    }
    &:hover{
        cursor: pointer;
        background-color: $grey_4;
    }    
}