.user-profile{
    display: inline-block;
    background-color: $blue_1;
    color: $white_1;
    height: 50px;
    width: 50px;
    @include border-radius(80px, $blue_1);
    @include layoutFlex();
    @include directionFlex(column);
    @include justifyContent(center);
    @include alignItems(center);
    span{
        font-size: 1.4rem;
    }
}

.user-profile-small{
    height: 36px;
    width: 36px;
}