@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

//bold
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

//medium
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Medium.ttf');
    font-weight: 600;
    font-style: normal;
}

//regular
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

//light
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/montserrat/Montserrat-Light.ttf');
    font-weight: 200;
    font-style: normal;
}
