.content-dash{
    height: 100%;
    width: 100%;
    position: fixed;
    @include layoutFlex();
    @include directionFlex(row);
    &--nav{
        //background-color: red;
        border: 1px solid $grey_3;
        box-shadow: 2px 0 4px 0 $grey_3;
        height: 100%;
        width: 350px;
    }
}