.content-dash{
    height: 100%;
    width: 100%;
    position: fixed;
    @include layoutFlex();
    @include directionFlex(row);
    &--nav{
        //background-color: red;
        border: 1px solid $grey_3;
        box-shadow: 2px 0 4px 0 $grey_3;
        height: 100%;
        width: 500px;
    }
    &--view{
        @include layoutFlex();
        @include directionFlex(row);
        @include justifyContent(flex-end);
        width: 100%;
        &--right{
            width: 16px;
            border-left: 1px solid $grey_3;
            //box-shadow: 2px 0 4px 0 $grey_3;
        }
        &--center{
            width: 100%;
            @include layoutFlex();
            @include directionFlex(column);
            @include justifyContent(flex-end);
            &--item_1{
                height: 66px;
                border-bottom: 1px solid $blue_1;
            }
            &--item_2{
                height: 100%;
                padding: 0px 0px 8px 0px;
                @include layoutFlex();
                @include directionFlex(column);
                @include justifyContent(flex-end);
            }
        }
    }
}

.content-list-coment{
    padding: 12px 14px;
    height: 100%;
    overflow-y: auto;
}

.content-list-message{
    padding: 0px 10px;
}