.nav_content{
    @include layoutFlex();
    @include directionFlex(column);
    position: relative;
    height: 100%;
    &--boxtext{
        padding: 14px 0px;
    }
    &--text{
        color: $blue_1;
        font-size: 1.6rem;
        text-align: center;
    }
    &--boxinputsearch{
        padding: 0px 10px;
    }
}

.nav-container{
    width: 100%;
    position: absolute;
}

.nav-container-list{
    padding: 144px 0px 8px 0px;
    height: 100%;
    &--scroll{
        height: 100%;
        overflow-y: auto;
    }
}